/* navbar et footer */

.header-content, .btn-contact{
    background-image: linear-gradient(to right, #008FA0 0%, #00BEC9 100%);
}
.btn-contact{
    color: white !important;
    border-radius: 5px;
}
#navbarNav ul li .nav-link{
    color: #000000;
    float: right;
}
#navbarNav ul{
    float: right;
}
footer{
    color: #008FA0;
}
/* end navbar et footer */

/*------------- Accueil -----------------*/

.para-un{
    font-weight: 500;
    font-size: 35px;
    line-height: 48.76px;
}
.para-b{
    font-weight: 500;
    font-size: 24px;
    line-height: 29.26px;
    border-radius: 5px;
}
.foto-net{
    height: 53px;
    border-radius: 5px;
}
.last-section{
    background-image: url('/images/Rectangle6.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.para-last-sec{
    font-weight: 500;
    font-size: 40px;
    line-height: 48.76px;
}
.para-telec{
    font-weight: 500;
    font-size: 30px;
    line-height: 39.01px;
    border: 0.5px solid white;
    border-radius: 20px;
}
